/* $Id: uploaded.css,v 1.1 2008/05/05 20:17:21 timo Exp $
 * Copyright (c) 2007 Washington University in St. Louis
 */

div.submit div.actions {
  text-align: center;
}

hr {
 margin: 2em 0;
}
