##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$data.setLayoutTemplate("/Popup.vm")
<script type="text/javascript">

<!--

function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

//-->

</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				
#set ($sessionId = $data.getSession().getAttribute("manageArcSession").getMrSession().getSessionId())
#set ($exptId = $data.getSession().getAttribute("manageArcSession").getMrSession().getExptId())
<form name="BuildPipelineTansfer" >
<p>
<h2>Session: $sessionId
</h2></p>
<br>
<p>
#set ($table = $data.getSession().getAttribute("manageArcSession").getVerificationTable())
$table
</p>
<br> 	
#set ($nextPage = "$link.setPage('BuildPipeline.vm').addPathInfo('sessionId',$sessionId).addPathInfo('sessionId',$exptId)" )
<input type="button" ONCLICK="document.location.href='$nextPage';" onmouseover="return true;" value="Continue"/>
<input type="button" ONCLICK="javascript:self.close();" value="Close"/>
</form>
<script type="text/javascript">
	#if ($error=="false") 
		self.close();
	#end
</script>


