	<script type="text/javascript">
	
function disableForm(theform) {
	  if (document.getElementById)
	  {
			    document.getElementById('progressBar').style.display = 'block';
	  }
	  else if (document.all)
	  {
			    document.all['progressBar'].style.display = 'block';
			  }
			  
  if (document.all || document.getElementById) {
    for (i = 0; i < theform.length; i++) {
      var tempobj = theform.elements[i];
      if (tempobj.type.toLowerCase() == "submit" || tempobj.type.toLowerCase() == "reset" || tempobj.type.toLowerCase() == "button")
        tempobj.disabled = true;
    }
    return true;
  }
  else {
    return true;
  }
}
   
function enableForm() {
  var theform;
	  if (document.getElementById)
	  {
			    theform= document.getElementById('uploadFORM');
	  }
	  else if (document.all)
	  {
			    theform= document.all['uploadFORM'];
			  }

	  if (document.all || document.getElementById) {
    for (i = 0; i < theform.length; i++) {
      var tempobj = theform.elements[i];
      if (tempobj.type.toLowerCase() == "submit" || tempobj.type.toLowerCase() == "reset" || tempobj.type.toLowerCase() == "button")
         tempobj.disabled = false;
    }
    return true;
  }else {
		    return true;
  }
}
		</script>
	<script type="text/javascript">
var i;
var req;

var progressBar;
var progressPercent;
var uploadID = "$search_value";
var step = "Upload";
var uploadIDStep = uploadID + step;
var started=0;
var uploadCount = 0;
var extractCount = 0;
var analyzeCount = 0;
var extractTimeOut=300;

function prog(theform)
{
  disableForm(theform);
  //document.getElementById('iframe').location.href='';
  step = "Upload";
  started=0;
  uploadCount=0;
  extractCount = 0;
  analyzeCount = 0;
  uploadIDStep = uploadID + step;
  progressBar=document.getElementById("uploadBar");
  progressPercent=document.getElementById("uploadPercent");
  
  document.getElementById('preparing').style.display = 'block';
  document.getElementById('preparing').innerHTML="Loading File...&nbsp";
  document.getElementById("uploadPercent").innerHTML="";	document.getElementById("uploadBar").style.width=0;  i=0;
  document.getElementById("extractPercent").innerHTML="";	document.getElementById("extractBar").style.width=0;
  document.getElementById("analyzePercent").innerHTML="";	document.getElementById("analyzeBar").style.width=0;
  resetProgress();
  checkProgress();
  
  return true;
}
function callback() {
    if (req.readyState == 4) {
        if (req.status == 200) {
            // handle response 
            var temp = req.responseText;
            //alert(temp);
            var i = parseInt(temp);
            if (i==-1){
                document.getElementById('preparing').innerHTML="&nbsp;&nbsp;&nbsp;<font color=red><B>Error</B></font>";
            	    document.getElementById('preparing').style.display = 'block';
            }else{
            if (i==0){               
      			                if (step=="Upload")
      			                {
      			                   uploadCount = uploadCount + 1;
      			                    if (extractCount==98){
      			                      uploadCount=1
                            progressPercent.innerHTML="";
      			                    }
      			                    i = uploadCount;
      			                }else if(step=="Extract")
      			                {
      			                    extractCount = extractCount + 1;
      			                    if (extractCount==98){
      			                      extractCount=1
                            progressPercent.innerHTML="";
      			                    }
      			                    i = extractCount;
      			                }else{
      			                    document.getElementById("extractPercent").innerHTML="100%";
      			                    analyzeCount = analyzeCount + 1;
      			                    if (analyzeCount==98){
      			                      analyzeCount=1
                            progressPercent.innerHTML="";
      			                    }
      			                    i = analyzeCount;
      			                }
      			                if (i>40){extractTimeOut=600;}
      			                if (i>50){extractTimeOut=800;}
      			                if (i>60){extractTimeOut=1000;}
      			                if (i>70){extractTimeOut=2000;}
      			                if (i>80){extractTimeOut=3000;}
      			                if (i>85){extractTimeOut=6000;}
      			                if (i>88){extractTimeOut=9000;}
      			                var pixels = i * 3;
                      if (i>10){progressPercent.innerHTML=parseInt(i)+"%";}
      			                progressBar.style.width=pixels+"px";
      			                started=1;
      			      	          setTimeout("checkProgress();", extractTimeOut); 
      			             
            }else{
                //alert(i);
      			          if (i<99){
      			             if (step=="Upload")
      			             {
      			                 if (i>uploadCount)
      			                 {
      			                 document.getElementById('preparing').style.display = 'none';
                       var pixels = i * 3;
                       if (i>10){progressPercent.innerHTML=parseInt(i)+"%";}
      			                 progressBar.style.width=pixels+"px";
      			                 started=1;
      			                 }
      			      	           setTimeout("checkProgress();", 100); 
      			             }else{
      			                if(step=="Extract")
      			                {
      			                    extractCount = extractCount + 1;
      			                    if (extractCount==98){
      			                      extractCount=1
                            progressPercent.innerHTML="";
      			                    }
      			                    i = extractCount;
      			                    var pixels = i * 3;
                          if (i>10){progressPercent.innerHTML=parseInt(i)+"%";}
      			                    progressBar.style.width=pixels+"px";
      			                    started=1;
      			      	              setTimeout("checkProgress();", 300); 
      			                }else{
      			                    document.getElementById("extractPercent").innerHTML="100%";
      			                    analyzeCount = analyzeCount + 1;
      			                    if (analyzeCount==98){
      			                      analyzeCount=1
                            progressPercent.innerHTML="";
      			                    }
      			                    i = analyzeCount;
      			                    var pixels = i * 3;
                          if (i>10){progressPercent.innerHTML=parseInt(i)+"%";}
      			                    progressBar.style.width=pixels+"px";
      			                    started=1;
      			      	              setTimeout("checkProgress();", 300); 
      			                }
      			             }
      			          }else{
      			             if (started == 0){
      			                 setTimeout("checkProgress();", 300);
      			             }else{
      			                 started=0;
      			                 
      			                 progressPercent.innerHTML="100%";
      			                 progressBar.style.width="300px";
      			                 extractTimeOut=extractTimeOut/4;
      			                 if (step=="Upload")
      			                 {
      			                   document.getElementById("uploadPercent").innerHTML="100%";
      			                   document.getElementById('preparing').style.display = 'none';
      			                   step="Extract";
                         uploadIDStep = uploadID + step;
                         progressBar=document.getElementById("extractBar");
                         progressPercent=document.getElementById("extractPercent");
      			                   setTimeout("checkProgress();", 300);
      			                 }else{
      			                   if (step=="Extract")
      			                   {
      			                       extractTimeOut=200;
      			                       document.getElementById("extractPercent").innerHTML="100%";
      			                       step="Analyze";
                             uploadIDStep = uploadID + step;
                             progressBar=document.getElementById("analyzeBar");
                             progressPercent=document.getElementById("analyzePercent");
      			                       setTimeout("checkProgress();", 300);
      			                       document.getElementById("extractPercent").innerHTML="100%";
      			                   }else{
      			                       document.getElementById("extractPercent").innerHTML="100%";
      			                       document.getElementById("analyzePercent").innerHTML="100%";
      			                       enableForm();
      			                   }
      			                 }
      			             }
      			          }
            }
            }
        }
    }
}

function resetProgress(){
   var url = "$content.getURI("servlet/AjaxServlet")?remote-class=org.nrg.xnat.ajax.UploadProgress";
   url = url + "&remote-method=start";
   url = url + "&ID=" + uploadID;
   if (window.XMLHttpRequest) {
       req = new XMLHttpRequest();
   } else if (window.ActiveXObject) {
       req = new ActiveXObject("Microsoft.XMLHTTP");
   }
   req.open("GET", url, true);
   //alert("Loading REQUEST");
   req.send(null);
}

function checkProgress(){
   var url = "$content.getURI("servlet/AjaxServlet")?remote-class=org.nrg.xnat.ajax.UploadProgress";
   url = url + "&remote-method=monitor";
   url = url + "&ID=" + uploadIDStep;
   if (window.XMLHttpRequest) {
       req = new XMLHttpRequest();
   } else if (window.ActiveXObject) {
       req = new ActiveXObject("Microsoft.XMLHTTP");
   }
   req.open("GET", url, true);
   req.onreadystatechange = callback;
   //alert("Loading REQUEST");
   req.send(null);
}
</script>
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<form ID="uploadFORM"  enctype="multipart/form-data" method="POST" action="$link.setAction("ImageUploadSession")" >
<INPUT TYPE="hidden" name="popup" value="true"/>
<INPUT TYPE="hidden" name="ID" value="$search_value"/>
<INPUT TYPE="hidden" name="relative_path" value="$relative_path"/>
<INPUT TYPE="hidden" name="threshhold" value="51516279"/>
<TABLE>
	<TR>
		<TD colspan="3" align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:18px;"><b>Upload Zipped file for $search_value</b></font></TD>
	</TR>
	<TR>
		<TD colspan="3" align="right">&nbsp;</TD>
	</TR>
		<TD colspan="3" align="right">&nbsp;</TD>
	</TR>
	
	<TR>
		<TD colspan="3" align="right">&nbsp;</TD>
	</TR>
	<TR>
		<TH align="left">File</TH><TD colspan="2"><input type="file" name="image_archive"/></TD>
	</TR>
	<TR>
		<TD colspan="3" align="right">&nbsp;</TD>
	</TR>
	<TR>
	
	#xdatPassItemFormFields($search_element $search_field $search_value)
		<TD colspan="3" align="right"><input type="submit" name="eventSubmit_doPerform" value="Upload"/></TD>
	</TR>
</TABLE>
</form>
			<span ID="progressBar" style="position:relative; display:none;">
<div id="ex" style="position:relative;width:468px;background:#eeeeee;border:3px double #000000;">
<TABLE width=="100%"><TR><TD colspan=2 align="left">
<div id="preparing">Loading File...&nbsp;</div></TD></TR>
<TR><TD>
   <div id="uploadLabel">Upload:&nbsp;</div></TD>
   <TD align="center">
   <div id="emptyUpload" style="background-color:#cccccc;border:1px solid black;height:22px;width:300px;padding:0px;" align="left">
	      <div id="uploadBar" style="position:relative;top:0px;left:0px;background-color:#333333;height:22px;width:0px;padding-top:5px;padding:0px;">
          <div id="uploadPercent" style="position:relative;top:0px;left:0px;color:#f0ffff;height:22px;text-align:center;font:bold;padding:0px;padding-top:5px;">
          </div>
      </div>
   </div></TD></TR>
   <TR><TD>&nbsp;</TD></TR>
<TR><TD><div id="extractLabel">Extract:&nbsp;</div></TD>
   <TD align="center">
   <div id="emptyExtract" style="background-color:#cccccc;border:1px solid black;height:22px;width:300px;padding:0px;" align="left">
	      <div id="extractBar" style="position:relative;top:0px;left:0px;background-color:#333333;height:22px;width:0px;padding-top:5px;padding:0px;">
          <div id="extractPercent" style="position:relative;top:0px;left:0px;color:#f0ffff;height:22px;text-align:center;font:bold;padding:0px;padding-top:5px;">
          </div>
      </div>
   </div></TD></TR>
   <TR><TD>&nbsp;</TD></TR>
<TR><TD><div id="analyzeLabel">Review:&nbsp;</div></TD>
   <TD align="center">
   <div id="emptyAnalyze" style="background-color:#cccccc;border:1px solid black;height:22px;width:300px;padding:0px;" align="left">
	      <div id="analyzeBar" style="position:relative;top:0px;left:0px;background-color:#333333;height:22px;width:0px;padding-top:5px;padding:0px;">
          <div id="analyzePercent" style="position:relative;top:0px;left:0px;color:#f0ffff;height:22px;text-align:center;font:bold;padding:0px;padding-top:5px;">
          </div>
      </div>
   </div>
   </TD></TR>
   </TABLE>
</div>
</span>
<IFRAME name="iframe" src="" width="468" height="80" frameborder="0">
PROGRESS BAR DISABLED. <BR>Try using a more recent web browser.
</IFRAME>
	<script type="text/javascript">
progressBar=document.getElementById("uploadBar");
progressPercent=document.getElementById("uploadPercent");
	</script>