$page.setTitle("REGISTRY")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($SITE = $item.getStringProperty("SITE"))
	#if ( "-4" != $SITE )
		<tr>
			<th width="400px">At which site was this visit conducted?</th>
			<td>
				$SITE 
				#if ($SITE == "010")
					- 10 - Columbia University (CPMC)
				#elseif ($SITE == "011")
					- 11 - Washington University, St. Louis (WASHU)
				#elseif ($SITE == "035")
					- 35 - University of California, Los Angeles (UCLA)
				#elseif ($SITE == "037")
					- 37 - Indiana University (INDY)
				#elseif ($SITE == "094")
					- 94 - Brigham and Women's Hospital (BWH)
				#elseif ($SITE == "941")
					- 941 - Butler Hospital Memory and Aging Program (BHMAP)
				#elseif ($SITE == "950")
					- 950 - Prince of Wales Medical Research Institute, Sydney (UNSW-Sydney
				#elseif ($SITE == "951")
					- 951 - University of Melbourne (UOM-Melbourne)
				#elseif ($SITE == "952")
					- 952 - Edith Cowan University, Perth (ECU-Perth)
				#elseif ($SITE == "953")
					- 953 - University College London (UCL - London)
			#end
			</td>
		</tr>
	#end
	#set ($RGCONDCT = $item.getStringProperty("RGCONDCT"))
	#if ( "-4" != $RGCONDCT )
		<tr>
			<th width="400px">Indicate what kind of visit was performed:</th>
			<td>
				$RGCONDCT 
				#if ($RGCONDCT == "1")
					- Standard in-clinic visit
				#elseif ($RGCONDCT == "2")
					- Remote assessement
				#elseif ($RGCONDCT == "4")
					- Remote assessment followed by in-clinic visit
				#elseif ($RGCONDCT == "3")
					- No visit conducted - non-participant/screen fail
			#end
			</td>
		</tr>
	#end
	#set ($RGPARTIAL = $item.getStringProperty("RGPARTIAL"))
	#if ( "-4" != $RGPARTIAL )
		<tr>
			<th width="400px">If visit was standard in-clinic visit or remote assessment followed by in-clinic visit, indicate whether full, partial, or no visit was completed?</th>
			<td>
				$RGPARTIAL 
				#if ($RGPARTIAL == "1")
					- Full
				#elseif ($RGPARTIAL == "2")
					- Partial
				#elseif ($RGPARTIAL == "3")
					- Not Done
			#end
			</td>
		</tr>
	#end
	#set ($VISDATE = $item.getStringProperty("VISDATE"))
		<tr>
			<th width="400px">Please enter the visit date:</th>
			<td>
				$!VISDATE
			</td>
		</tr>
	#set ($CSID1 = $item.getStringProperty("CSID1"))
	#if ( "-4" != $CSID1 )
		<tr>
			<th width="400px">ID for primary CS</th>
			<td>
				$!CSID1
			</td>
		</tr>
	#end
	#set ($CSID2 = $item.getStringProperty("CSID2"))
	#if ( "-4" != $CSID2 )
		<tr>
			<th width="400px">ID for secondary CS</th>
			<td>
				$!CSID2
			</td>
		</tr>
	#end
	#set ($CSDETS = $item.getStringProperty("CSDETS"))
	#if ( "-4" != $CSDETS )
		<tr>
			<th width="400px">If second CS used at this visit, provide details:</th>
			<td>
				$!CSDETS
			</td>
		</tr>
	#end
	#set ($LANG = $item.getStringProperty("LANG"))
	#if ( "-4" != $LANG )
		<tr>
			<th width="400px">Language used for testing</th>
			<td>
				$LANG 
				#if ($LANG == "1")
					- English
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
