$page.setTitle("ADI-R Assessment Creation Form")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ 2011..1900])
#set($int_note_vals=["-999","N/A","N/R","N/K"])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">

#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADI-R Assessment #if($om.getId()) Modification Form #else Creation Form #end</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	<TR>
		<TD>
    		<table width="100%">
				<TR><TD>	
				#parse("/screens/ProjSubjExptHeader.vm")
    			</TD></TR>
               <TR><TD>	
				
			   </TD></TR>
				<TR>
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">#xdatDateBox("adir:adir2007Data/date" $item $vr $years)</TD>
                </TR>
            </table>
			<TABLE>
				<BR />
				<TR>
					<TH width="35%" align="left">Description</TH>
					<TH width="20%" align="left">Value</TH>
					<TH align="left">&nbsp;Notation</TH>				
				</TR>
                <TR><TD colspan='3'><BR /></TD></TR>
				<TR>
					<TH width="35%" align="left">A Total</TH>
					<TD width="20%">#xdatTextBox("adir:adir2007Data/a_total" $item "" $vr)</TD>
					<TD align="left">#xdatSelectBoxWSingleValue("adir:adir2007Data/a_total_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD colspan='1'>Qualitative Abnormalities in Reciprocal Social Interaction Total (Cutoff=10)</TD>             
				</TR>		
				<TR>
					<TH width="35%" align="left">B (Verbal) Total</TH>
					<TD width="20%">#xdatTextBox("adir:adir2007Data/b_v_total" $item "" $vr)</TD>
					<TD align="left">#xdatSelectBoxWSingleValue("adir:adir2007Data/b_v_total_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD colspan='1'>Qualitative Abnormalities in Communication (Cutoff=8)</TD>             
				</TR>
				<TR>
					<TH width="35%" align="left">B (Non-Verbal) Total</TH>
					<TD width="20%">#xdatTextBox("adir:adir2007Data/b_nv_total" $item "" $vr)</TD>
					<TD align="left">#xdatSelectBoxWSingleValue("adir:adir2007Data/b_nv_total_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD colspan='1'>Qualitative Abnormalities in Communication (Cutoff=7)</TD>             
				</TR>	
				<TR>
					<TH width="35%" align="left">C Total </TH>
					<TD width="20%">#xdatTextBox("adir:adir2007Data/c_total" $item "" $vr)</TD>
					<TD align="left">#xdatSelectBoxWSingleValue("adir:adir2007Data/b_nv_total_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD colspan='1'>Restricted, Repetitive, and Stereotyped Patterns in Behavior (Cutoff=3)</TD>             
				</TR>
				<TR>
					<TH width="35%" align="left">D Total</TH>
					<TD width="20%">#xdatTextBox("adir:adir2007Data/d_total" $item "" $vr)</TD>
					<TD align="left">#xdatSelectBoxWSingleValue("adir:adir2007Data/d_total_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD colspan='1'>Abnormality of Development Evident at or Before 36 Months (Cutoff=1)</TD>             
				</TR>
				<TR>
					<TH width="35%" align="left">Diagnosis</TH>
					<TD width="20%">#xdatStringBox("adir:adir2007Data/adi_r_dx" $item "" $vr)</TD>
					<TD></TD>
				</TR>
				<TR>
					<TD colspan='1'>According to the ADI-R</TD>             
				</TR>
				<TR>
					<TH width="35%" align="left">Affected Status Classification of the Diagnosis</TH>
					<TD width="20%">#xdatStringBox("adir:adir2007Data/adi_r_cl" $item "" $vr)</TD>
					<TD></TD>
				</TR>
				<TR>
					<TD colspan='1'>According to ADI-R (source was AGRE)</TD>             
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR><TD><BR /></TD></TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   if (validateSubjectAssessorForm()) {
      document.getElementById("form1").submit();
   }
   //validateSubject();
   return true;
   
}

function validateSubjectAssessorForm()
{
   var elementName="$!item.getXSIType()";
   var matchesDIV = document.getElementById(elementName+"/subject_id");  
   var subject = matchesDIV.value;
   if (subject=="")
   {
     //window.manager.showOption1();
     alert("Please select a subject before proceeding.");
     return false;
   } 
   matchesDIV = document.getElementById(elementName+"/project");  
   var project = matchesDIV.value;
   if (project=="")
   {
     //window.manager.showOption1();
     alert("Please select a project before proceeding.");
     return false;
   } 
   return true;
}
</script>
