$page.setTitle("A2INFDEMO")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	<tr>
		<th colspan="2">1.</th>
	</tr>	#set ($INBIRMO = $item.getStringProperty("INBIRMO"))
	#if ( "-4" != $INBIRMO )
		<tr>
			<th width="400px" style="padding-left:20px;">Informant's month of birth (1-12):</th>
			<td>
				$INBIRMO 
				#if ($INBIRMO == "99")
					- unknown
			#end
			</td>
		</tr>
	#end
	#set ($INBIRYR = $item.getStringProperty("INBIRYR"))
	#if ( "-4" != $INBIRYR )
		<tr>
			<th width="400px" style="padding-left:20px;">Informant's year of birth:</th>
			<td>
				$INBIRYR 
				#if ($INBIRYR == "9999")
					- unknown
			#end
			</td>
		</tr>
	#end
	#set ($INSEX = $item.getStringProperty("INSEX"))
	#if ( "-4" != $INSEX )
		<tr>
			<th width="400px">2. Informant's sex:</th>
			<td>
				$INSEX 
				#if ($INSEX == "1")
					- Male
				#elseif ($INSEX == "2")
					- Female
			#end
			</td>
		</tr>
	#end
	#set ($NEWINF = $item.getStringProperty("NEWINF"))
	#if ( "-4" != $NEWINF )
		<tr>
			<th width="400px">3. Is this a new informant?</th>
			<td>
				$NEWINF 
				#if ($NEWINF == "1")
					- Yes
				#elseif ($NEWINF == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($INHISP = $item.getStringProperty("INHISP"))
	#if ( "-4" != $INHISP )
		<tr>
			<th width="400px">4. Does the informant report being of Hispanic/Latino <u>ethnicity</u> (i.e., having origins from a mainly Spanish-speaking Latin American country), regardless of race?</th>
			<td>
				$INHISP 
				#if ($INHISP == "1")
					- Yes
				#elseif ($INHISP == "0")
					- No
				#elseif ($INHISP == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INHISPOR = $item.getStringProperty("INHISPOR"))
	#if ( "-4" != $INHISPOR )
		<tr>
			<th width="400px">4a. If yes, what are the informant's reported origins?</th>
			<td>
				$INHISPOR 
				#if ($INHISPOR == "1")
					- Mexican/Chicano/Mexican-American
				#elseif ($INHISPOR == "2")
					- Puerto Rican
				#elseif ($INHISPOR == "3")
					- Cuban
				#elseif ($INHISPOR == "4")
					- Dominican
				#elseif ($INHISPOR == "5")
					- Central American
				#elseif ($INHISPOR == "6")
					- South American
				#elseif ($INHISPOR == "50")
					- Other: $!item.getStringProperty("INHISPOX")
				#elseif ($INHISPOR == "99")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INRACE = $item.getStringProperty("INRACE"))
	#if ( "-4" != $INRACE )
		<tr>
			<th width="400px">5. What does informant report as his/her race?</th>
			<td>
				$INRACE 
				#if ($INRACE == "1")
					- White
				#elseif ($INRACE == "2")
					- Black or African American
				#elseif ($INRACE == "3")
					- American Indian or Alaska Native
				#elseif ($INRACE == "4")
					- Native Hawaiian or Other Pacific Islander
				#elseif ($INRACE == "5")
					- Asian
				#elseif ($INRACE == "50")
					- Other: $!item.getStringProperty("INRACEX")
				#elseif ($INRACE == "99")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INRASEC = $item.getStringProperty("INRASEC"))
	#if ( "-4" != $INRASEC )
		<tr>
			<th width="400px">6. What additional race does informant report?</th>
			<td>
				$INRASEC 
				#if ($INRASEC == "1")
					- White
				#elseif ($INRASEC == "2")
					- Black or African American
				#elseif ($INRASEC == "3")
					- American Indian or Alaska Native
				#elseif ($INRASEC == "4")
					- Native Hawaiian or Other Pacific Islander
				#elseif ($INRASEC == "5")
					- Asian
				#elseif ($INRASEC == "50")
					- Other: $!item.getStringProperty("INRASECX")
				#elseif ($INRASEC == "88")
					- None Reported
				#elseif ($INRASEC == "99")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INRATER = $item.getStringProperty("INRATER"))
	#if ( "-4" != $INRATER )
		<tr>
			<th width="400px">7. What additional race, beyond what was indicated above in questions 5 and 6, does informant report?</th>
			<td>
				$INRATER 
				#if ($INRATER == "1")
					- White
				#elseif ($INRATER == "2")
					- Black or African American
				#elseif ($INRATER == "3")
					- American Indian or Alaska Native
				#elseif ($INRATER == "4")
					- Native Hawaiian or Other Pacific Islander
				#elseif ($INRATER == "5")
					- Asian
				#elseif ($INRATER == "50")
					- Other: $!item.getStringProperty("INRATERX")
				#elseif ($INRATER == "88")
					- None Reported
				#elseif ($INRATER == "99")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INEDUC = $item.getStringProperty("INEDUC"))
	#if ( "-4" != $INEDUC )
		<tr>
			<th width="400px">8. Informant's years of education (report exact years if known; otherwise, use the suggested coding: High School/GED=12; Bachelors degree=16; Doctorate=20):</th>
			<td>
				$INEDUC 
				#if ($INEDUC == "99")
					- unknown
			#end
			</td>
		</tr>
	#end
	#set ($INRELTO = $item.getStringProperty("INRELTO"))
	#if ( "-4" != $INRELTO )
		<tr>
			<th width="400px">9. What is informant's relationship to subject?</th>
			<td>
				$INRELTO 
				#if ($INRELTO == "1")
					- Spouse/partner
				#elseif ($INRELTO == "2")
					- Child
				#elseif ($INRELTO == "3")
					- Sibling
				#elseif ($INRELTO == "4")
					- Other relative
				#elseif ($INRELTO == "5")
					- Friend/neighbor
				#elseif ($INRELTO == "6")
					- Paid caregiver/provider
				#elseif ($INRELTO == "7")
					- Other: $!item.getStringProperty("INRELTOX")
			#end
			</td>
		</tr>
	#end
	#set ($INLIVWTH = $item.getStringProperty("INLIVWTH"))
	#if ( "-4" != $INLIVWTH )
		<tr>
			<th width="400px">10. Does the informant live with the subject?</th>
			<td>
				$INLIVWTH 
				#if ($INLIVWTH == "1")
					- Yes
				#elseif ($INLIVWTH == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($INVISITS = $item.getStringProperty("INVISITS"))
	#if ( "-4" != $INVISITS )
		<tr>
			<th width="400px">10a. If no, approximate frequency of in-person visits:</th>
			<td>
				$INVISITS 
				#if ($INVISITS == "1")
					- Daily
				#elseif ($INVISITS == "2")
					-  At least 3x/week
				#elseif ($INVISITS == "3")
					- Weekly
				#elseif ($INVISITS == "4")
					-  At least 3x/month
				#elseif ($INVISITS == "5")
					- Monthly
				#elseif ($INVISITS == "6")
					- Less than once a month
			#end
			</td>
		</tr>
	#end
	#set ($INCALLS = $item.getStringProperty("INCALLS"))
	#if ( "-4" != $INCALLS )
		<tr>
			<th width="400px">10b. Approximate frequency of telephone contact:</th>
			<td>
				$INCALLS 
				#if ($INCALLS == "1")
					- Daily
				#elseif ($INCALLS == "2")
					-  At least 3x/week
				#elseif ($INCALLS == "3")
					- Weekly
				#elseif ($INCALLS == "4")
					-  At least 3x/month
				#elseif ($INCALLS == "5")
					- Monthly
				#elseif ($INCALLS == "6")
					- Less than once a month
			#end
			</td>
		</tr>
	#end
	#set ($INRELY = $item.getStringProperty("INRELY"))
	#if ( "-4" != $INRELY )
		<tr>
			<th width="400px">11. Is there a question about the informant's reliability?</th>
			<td>
				$INRELY 
				#if ($INRELY == "1")
					- Yes
				#elseif ($INRELY == "0")
					- No
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
