<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Clinical Encounter Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<style type="text/css">
	.report th { text-align: left; }
	.standard { width: 400px; }
	.report, .report td, .report th { border: 1px solid gray; border-collapse:collapse; }
</style>

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<font face="$ui.sansSerifFonts" size="3"><b>Clinical Encounter Details</b></font><BR/><BR/>

			<TABLE class="standard report">
				<TR><TH>Date:</TH><TD>$!item.getProperty("condr:clinicalEncounter/date")</TD></TR>
				<TR><TH>Time:</TH><TD>$!item.getProperty("condr:clinicalEncounter/time")</TD></TR>
				<TR><TH>Site:</TH><TD>$!item.getStringProperty("condr:clinicalEncounter/acquisition_site")</TD></TR>
				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Karnofsky Performance Status:</TH><TD>$!item.getIntegerProperty("condr:clinicalEncounter/karnofskyPerformanceStatus")</TD></TR>
				<TR><TH>RPA Class:</TH><TD>$!item.getStringProperty("condr:clinicalEncounter/rpaClass")</TD></TR>
				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Sensory Functional Deficit:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/sensoryFunctionalDeficit")</TD></TR>
				<TR><TH>Motor Functional Deficit:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/motorFunctionalDeficit")</TD></TR>
				<TR><TH>Clinical Deterioration:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/clinicalDeterioration")</TD></TR>
				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Steroids:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/steroids")</TD></TR>
				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Progression:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/progression")</TD></TR>
				<TR><TH>Pseudo-progression:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/pseudoProgression")</TD></TR>
				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Response to Treatment:</TH><TD>$!item.getStringProperty("condr:clinicalEncounter/response")</TD></TR>
				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Change in Treatment:</TH><TD>$!item.getBooleanProperty("condr:clinicalEncounter/changeInTreatment")</TD></TR>
#if ($!item.getBooleanProperty("condr:clinicalEncounter/changeInTreatment"))				
				<TR><TH>Changed to:</TH><TD>$!item.getStringProperty("condr:clinicalEncounter/changeInTreatmentTo")</TD></TR>
#end				
				<TR><TD colspan="2">&nbsp;</TD></TR>
				
				<TR><TH>Notes:</TH><TD class="notes">$!item.getStringProperty("condr:clinicalEncounter/clinicalEncounterNotes")</TD></TR>
			</TABLE>

			<BR/>#parse("/screens/ReportProjectSpecificFields.vm")
		</td>
	</tr>
</table>

