##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
#else
	#set ($popup = "false")
#end

<TABLE width="100%" align="left" valign="top" border=0>
	<TR>
		<TD align="left">
			<h2></h2>
			<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>DTI Diffusivity & Anisotropy</b></font></TD>
				</TR>
			</TABLE>
			
	<P><TABLE align="left" width="100%">
		<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
							#parse($turbineUtils.getTemplateName("_summary",$om.getXSIType(),$project))
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<TABLE border=0 cellspacing="0" cellpadding="0">
					<TR><TH align="left" colspan=4><BR><BR><BR><font face="verdana,geneva,helvetica" size="2"><b>Dti Regions</b></font><BR><BR></TH></TR>
					<TR>
						<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;" NOWRAP>Name</TH>
						<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;" NOWRAP>Voxels</TH>
						<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;" NOWRAP>M Anisotropy</TH>
						<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;" NOWRAP>M Diffusivity</TH>
					</TR>
					#foreach ($region in $om.Regions)
						<TR>
							<TD>$!region.getProperty("name")</TD>
							<TD>$!region.getProperty("voxels")</TD>
							<TD>$!region.getAnisotropyDisplay()</TD>
							<TD>$!region.getDiffusivityDisplay()</TD>
						</TR>
					#end
				</TABLE> 
			</TD>
		</TR>
	</TABLE></P>
		</TD>
		<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
</TABLE>