<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Blood Lipid Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ 2010..1900])
#set($units = "mg/dl")

<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";
</script>

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Blood Lipid Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
  								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>
     								##<table>
     									#if($om.getId())
		  								#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
									#else
       										#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
       									#end
     								##</table>
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD><b>Date</b></TD><TD>#xdatDateBox("dian:bldLipidData/date" $item $vr $years)</TD></TR>
							<TR><TD><b>Visit ID</b></TD>
								<TD>
									#xdatStringBox("dian:bldLipidData/visit_id" $item "" $vr)
									<input type="hidden" name="dian:bldLipidData/bldCollSess" value="" >
								</TD>
							</TR>
							##<TR><TD><b>Blood Coll Sess</b></TD><TD>#xdatStringBox("dian:bldLipidData/bldCollSess" $item "" $vr)</TD></TR>
							<TR><TD><b>Triglyceride</b></TD>
								<TD>
									#xdatTextBox("dian:bldLipidData/Triglyc" $item "" $vr) $!{units}
									<input type="hidden" name="dian:bldLipidData/TriglycUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Triglyc Units</b></TD><TD>#xdatStringBox("dian:bldLipidData/TriglycUnits" $item "" $vr)</TD></TR>
							<TR><TD><b>Total Cholesterol</b></TD>
								<TD>
									#xdatTextBox("dian:bldLipidData/TotCholes" $item "" $vr) $!{units}
									<input type="hidden" name="dian:bldLipidData/TotCholesUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Total Choles Units</b></TD><TD>#xdatStringBox("dian:bldLipidData/TotCholesUnits" $item "" $vr)</TD></TR>
							<TR><TD><b>HDL</b></TD>
								<TD>
									#xdatTextBox("dian:bldLipidData/HDL" $item "" $vr) $!{units}
									<input type="hidden" name="dian:bldLipidData/HDLUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>HDL Units</b></TD><TD>#xdatStringBox("dian:bldLipidData/HDLUnits" $item "" $vr)</TD></TR>
							<TR><TD><b>LDL</b></TD>
								<TD>
									#xdatTextBox("dian:bldLipidData/LDL" $item "" $vr) $!{units}
									<input type="hidden" name="dian:bldLipidData/LDLUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>LDL Units</b></TD><TD>#xdatStringBox("dian:bldLipidData/LDLUnits" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
##	<TR>
##		<TD>
		<TR><TD COLSPAN=2 ALIGN=left>
		#xdatEditProps($item $edit_screen)
		<input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/>
		</TD></TR>
##		</TD>
##	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   //validateSubjectAssessorForm();
   //return false;
   document.getElementById("form1").submit();
   return true;
}
</script>
